/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Fraunces:ital,wght@0,400;0,700;1,400&display=swap');

/* Terapkan Poppins ke seluruh body */
body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  background-color: #fcf5e8;
}

/* Font serif untuk judul tertentu */
.font-serif {
  font-family: 'Fraunces';
}